settings:
  title: 'Serble Status Page'
  url: 'https://status.serble.net' # used for Slack messages
  logo: serble_logo.png # image in ./public/ folder
  daysInHistogram: 30 # number of days you want to display in histogram
  collectResponseTimes: false # collects avg response times from CRON locations

  allmonitorsOperational: 'All Systems Operational'
  notAllmonitorsOperational: 'Not All Systems Operational'
  monitorLabelOperational: 'Operational'
  monitorLabelNotOperational: 'Not Operational'
  monitorLabelNoData: 'No data'
  dayInHistogramNoData: 'No data'
  dayInHistogramOperational: 'All good'
  dayInHistogramNotOperational: ' incident(s)' # xx incident(s) recorded

monitors:

  - id: serble-website
    name: 'Serble Website'
    description: 'The Serble website'
    url: 'https://serble.net'
    method: GET
    expectStatus: 200
    linkable: true
    
  - id: files
    name: 'Serble Files'
    description: 'The Serble file hosting platform'
    url: 'https://files.serble.net/'
    method: GET
    expectStatus: 200
    linkable: true
    
  - id: link
    name: 'Serble Link Shortener'
    description: 'The Serble link shortener'
    url: 'https://link.serble.net/'
    method: GET
    expectStatus: 200
    linkable: true
    
  - id: homework
    name: 'Homework Tracker'
    description: 'The homework tracker API'
    url: 'https://homeworktrack.serble.net:9897/api'
    method: GET
    expectStatus: 200
    linkable: false
    
  - id: chatapi
    name: 'Chat API'
    description: 'The http chat API'
    url: 'https://chat.serble.net/'
    method: GET
    expectStatus: 200
    linkable: false
    
  - id: media
    name: 'Media Server'
    description: 'The Serble Emby instance'
    url: 'https://media.serble.net/web/index.html'
    method: GET
    expectStatus: 200
    linkable: true
    
  - id: serbleapi
    name: 'Serble API'
    description: 'The Serble API'
    url: 'https://api.serble.net/swagger/index.html'
    method: GET
    expectStatus: 200
    linkable: true

  - id: swift
    name: 'SWIFT Backend'
    description: "The backend for the SWIFT web extension."
    url: 'https://swiftbackend.serble.net/swagger/index.html'
    method: GET
    expectStatus: 200
    linkable: true

  - id: serblegames
    name: 'Serble Games'
    description: "The backend for the Serble Games platform."
    url: 'https://api.games.serble.net/'
    method: GET
    expectStatus: 200
    linkable: true
  
  - id: workers-cloudflare-com # unique identifier
    name: workers.cloudflare.com
    description: "CloudFlare's worker service, this powers multiple Serble services."
    url: 'https://workers.cloudflare.com/' # URL to fetch
    method: GET # default=GET
    expectStatus: 200 # operational status, default=200
    followRedirect: false # should fetch follow redirects, default=false
    linkable: false # allows the title to be a link, default=true
